{{ attach_library('db_module/event-page') }}

{# Typewise event count #}
<h3>Events count of each type:</h3>
<table class="event-table">
  <tr>
    <th>Event Type</th>
    <th>Number of events</th>
  </tr>
{% for item in value %}
  <tr>
    <td><strong>{{ item.type }}</strong></td>
    <td>{{ item.count }}</td>
  </tr>
{% endfor %} 
</table>

{# Yearwise events count #}
<h3>Yearwise event count:</h3>
<table class="event-table">
  <tr>
    <th>Year</th>
    <th>Number of events</th>
  </tr>
{% for item, count in yearly %}
  <tr>
    <td><strong>{{ item }}</strong></td>
    <td>{{ count }}</td>
  </tr>
{% endfor %} 
</table>


{# Quarterly event count #}
<h3>Quarterly event count:</h3>
{# <pre>
  {{ dump(quarterly) }}
</pre> #}
<table class="event-table">
  {# <tr>
    <th>Year</th>
    <th>Quarter</th>
    <th>Number of events</th>
  </tr> #}
{% for years, items in quarterly %}
    <th><strong>{{ years }}</strong></th>
    <tr>
  {% for quarter,count in items %}
    {% if quarter == 1 %}
      <td><strong>January-March</strong></td>
    {% elseif quarter == 2 %}
      <td><strong>April-June</strong></td>
    {% elseif quarter == 3 %}
      <td><strong>July-September</strong></td>
    {% elseif quarter == 4 %}
      <td><strong>October-December</strong></td>
    {% endif %}
      {# <td><strong>{{ quarter }}</strong></td> #}
      <td>{{ count }}</td>
    </tr>
  {% endfor %}
{% endfor %} 
</table>
